<a href="https://colab.research.google.com/github/fereshtehdehkhoda/Example32-CCA-pearson-corr/blob/main/s8sole6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#در دیتافریم زیر، از رویکرد Complete Case Approach استفاده و ضریب همبستگی پیرسون بین x و y را برآورد کنی

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_csv("s8 soale 5.csv")
data.dropna(inplace=True)

In [ ]:
data

      x     y
0  12.1  0.20
1  14.0  0.41
3  10.0  0.19
4   2.0  0.05
5  23.0  0.67
7  15.0  0.32
9  11.0  0.23

In [ ]:
pearsoncorr_cc=round(data[["x","y"]].corr(method="pearson"),2)
pearsoncorr_cc

      x     y
x  1.00  0.95
y  0.95  1.00